Package: com.xyaman.visualyzer
Name: Visualyzer
Version: 0.0.1
Architecture: iphoneos-arm
Description: Simple status bar visualizer for iOS 14.
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.ryannair05.audiosnapshotserver, ws.hbang.common (>= 1.16)
