Package: com.xyaman.visualyzer
Name: Visualyzer
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: mobilesubstrate, com.ryannair05.audiosnapshotserver, ws.hbang.common (>= 1.16)
