Package: com.xyaman.visualyzer
Name: Visualyzer
Version: 0.3.1
Architecture: iphoneos-arm
Description: Simple status bar audio visualizer.
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.ryannair05.audiosnapshotserver, ws.hbang.common (>= 1.16), com.xyaman.libsona (>= 0.1.0), com.xyaman.libkuro, com.mrgcgamer.libgcuniversal
Depiction: https://repo.xyaman.xyz/depictions/index.html?p=visualyzer
SileoDepiction: https://repo.xyaman.xyz/depictions/visualyzer/depiction.json
Icon: https://repo.xyaman.xyz/depictions/visualyzer/assets/icon.png
