<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Number of bars</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>

			<key>default</key>
			<integer>4</integer>

			<key>min</key>	
			<real>0</real>

			<key>max</key>	
			<real>10</real>

			<key>isSegmented</key>
			<true/>

			<key>segmentCount</key>
			<integer>10</integer>

			<key>showValue</key>
			<true/>

			<key>key</key>
			<string>barsNumber</string>

			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>			
		</dict>
		<!-- Width of bars -->
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Bars width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>

			<key>default</key>
			<real>3.6</real>

			<key>min</key>	
			<real>0</real>

			<key>max</key>	
			<real>10</real>

			<key>showValue</key>
			<true/>

			<key>key</key>
			<string>barsWidth</string>

			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>			
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>2.0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>spacing</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>radius</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
	</array>
	<key>title</key>
	<string>CustomizeBars</string>
</dict>
</plist>