<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Only line</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>waveOnlyLine</string>
            <key>defaults</key>
            <string>com.xyaman.visualyzerpreferences</string> 
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBStepperTableCell</string>
            <key>default</key>
            <real>16</real>
            <key>label</key>
            <string>Number of points: %i</string>
            <key>singularLabel</key>
            <string>Number of points: %i</string>
            <key>max</key>
            <real>64</real>
            <key>min</key>
            <real>1</real>
            <key>key</key>
            <string>waveNumber</string>
            <key>defaults</key>
            <string>com.xyaman.visualyzerpreferences</string>   
        </dict> 
         <dict>
            <key>cell</key>
            <string>PSStaticTextCell</string>
            <key>label</key>
            <string>Y offset</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>-6</real>
            <key>max</key>
            <real>6</real>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>waveYOffset</string>
            <key>defaults</key>
            <string>com.xyaman.visualyzerpreferences</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSStaticTextCell</string>
            <key>label</key>
            <string>Wave sensitivity</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <real>4.0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>8</real>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>waveSensitivity</string>
            <key>defaults</key>
            <string>com.xyaman.visualyzerpreferences</string>
        </dict>
    </array>
    <key>title</key>
    <string>Customize Wave</string>
</dict>
</plist>