<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Carrier</string>
			<key>key</key>
			<string>hideCarrier</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Boost (Airpods Only)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>airpodsBoost</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Updates per second</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10.0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>20</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>updatesPerSecond</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
	</array>
	<key>title</key>
	<string>Miscellaneous</string>
</dict>
</plist>