<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>condensed</key>
			<true/>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>com.xyaman.visualyzer</string>
			<key>footerText</key>
			<string>Simple status bar audio visualizer for iOS 14.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>	
			<array>
				<string>Time</string>
				<string>Signal</string>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>location</string>
			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Number of points</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>

			<key>default</key>
			<integer>4</integer>

			<key>min</key>	
			<real>0</real>

			<key>max</key>	
			<real>10</real>

			<key>isSegmented</key>
			<true/>

			<key>segmentCount</key>
			<integer>10</integer>

			<key>showValue</key>
			<true/>

			<key>key</key>
			<string>number</string>

			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>			
		</dict>
		<!-- Width of bars -->
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>

			<key>default</key>
			<real>3.6</real>

			<key>min</key>	
			<real>1</real>

			<key>max</key>	
			<real>10</real>

			<key>showValue</key>
			<true/>

			<key>key</key>
			<string>width</string>

			<key>defaults</key>
			<string>com.xyaman.visualyzerpreferences</string>			
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>	
			<key>label</key>
			<string>Xyaman</string>
			<key>user</key>	
			<string>xyamanDEV</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code ⚙️</string>
			<key>url</key>
			<string>https://github.com/xyaman/visualyzer</string>
		</dict>
	</array>
	<key>title</key>
	<string>Visualyzer</string>
</dict>
</plist>
